// color variables
$white: #fff;
$light: #ebebeb;
$dark: #1e1e1e;
$semidark: #383838;
$hover: #e2e2e2;
$green: #46AD40;
$glowygreen: rgb(33, 233, 22);
$graylight:rgba(206, 206, 206, 0.6);
$greylight:rgba(202, 202, 202, 0.411);
$translucentdark:rgba(30, 30, 30, 0.6);
// transition variables
$transition2s: 0.2s ease-out;
$transition3s: 0.3s ease-out;
$transition4s: 0.4s ease-out;

// font weight variables
$thinlight: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// font family variables
$sans-serif: 'Montserrat',
sans-serif;
$cursive: 'Orelega One',
cursive;